.Header{
    z-index: 20;
}

.navMenu{
    width: auto;
}
.menuItem{
    align-self: auto;
    width: auto;
}

@media (max-width: 1200px) {
    .navMenu{
        width: 100%;
    }
    .menuItem{
        align-self: center;
        width: 100%;
    }
    #basic-nav-dropdown.dropdown-toggle.btn.btn-dark.btn-lg{
        width: 100%;
    }
}