.Header{
    z-index: 20;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
}

.navMenu{
    width: auto;
}
.menuItem{
    align-self: auto;
    width: auto;
}

.anchorImage{
    position: relative;
    top: 2px;
}

.profileHeaderIcon{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.responsiveTitle{
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.logoImage{
    height: 40px;
}

.logoInverted{
    filter: invert(100%);
}

@media (max-width: 1200px) {
    .navMenu{
        width: 100%;
    }
    .menuItem{
        align-self: center;
        margin-bottom: 1px;
        width: 100%;
    }
    .anchorImage{
        text-align: center;
        margin-bottom: 1px;
        top: 0;
    }
    #basic-nav-dropdown.dropdown-toggle.btn.btn-dark.btn-lg{
        width: 100%;
    }
}

@media (max-width: 400px) {
    .logoImage{
        height: 8vw;
    }
}