.carousel h3 {
    text-shadow: 3px 3px 3px black;
}

.carousel p {
    text-shadow: 1px 1px 1px black;
}

.carousel{
    font-size: medium;
}

.carousel img{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

@media only screen and (max-width: 767px) {
    .carousel{
        height: 65vh;
        font-size: small;
        align-content: baseline;
    }

    .carousel h3{
        font-size: x-large;
    }

    .carousel img{
        height: 100%;
        width: auto;
        object-fit: cover;
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }
}