*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    background-image: url("https://i.imgur.com/peJfc5T.jpg");
    font-family:sans-serif;
    font-weight:400;
    line-height:1.5;
    font-size:1rem;
}
a,a:hover {
    text-decoration:none;
}
.sec {
    min-height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}

.container {
    width:100%;
    max-width:400px;
    margin:auto;
    padding:0 25px;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
    background:#fff;
}
.taps {
    position:relative;
    width:100%;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:20px;
}
.tap-btn {
    outline:none;
    border:none;
    padding:5px 20px;
    font-size:18px;
    font-weight:bold;
    background:none;
    transition:0.3s;
    z-index:2;
}
.tap-btn.active{
    color:#fff;
}
.line {
    position:absolute;
    height:40px;
    border-radius:20px;
    background:#dd4b39;
    width:85px;
    top:10%;
    left:0;
    right:auto;
    transition:all 0.3s ease-in-out;
}
.form {
    margin-top:30px;
    padding-top:15px;
    border-top:1px solid #ccc;
}
.form h1 {
    color:#333;
    margin-bottom:20px;
}
.form-group{
    margin-bottom:20px;
}
.form-group label {
    display:block;
    margin-bottom:8px;
    font-weight:bold;
    color:#696969;
    margin-left:2px;
}
.form-control {
    width:100%;
    outline:none;
    height:45px;
    padding:0 20px;
    border:none;
    border-radius:4px;
    background:#e3e3e3;
    font-size:16px;
    transition:all 0.3s ease-in;
}
.form-control:focus {
    border:1px solid #ccc;
}
.submit-btn {
    background:#000;
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
    margin-top:20px;
}
.submit-btn:hover {
    background:#4f4f4f;
}
.hide{
    display:none;
}
 .container#blur.active{
     filter: blur(20px);
     pointer-events: none;
     user-select: none;
 }
#popup{
    position: fixed;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
