/* FOOTER STYLES
   ----------------------------- */

.app-footer {
    color: #6d6d6d;

    flex-wrap: wrap;
    text-align: center;

}

.side-menu-collapsed {
    .app-footer {

    }
}

@media screen and (max-width: $breakPointSm) {
    .app-footer {
        font-size: small;
        margin-left: 0 !important;
    }
}