.navStyle{
    position: absolute;
    height: calc(100% - 6rem - 66px);
    top: 4.1em;
    left: 0;

    padding-right: 200px;
}

.navStyleHidden{
    left: -300px;
}

.CollapseButton{
    position: fixed;
    top: 70px;
    left: 0;
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: small;
    text-align: center;
    z-index: 1;
}

.CollapseButtonActive{
    left: 300px;
}