html{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

body{
    background-color: #15151e;
    min-height: 100%;
    font-family: Consolas, fantasy;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    clear: both;
    background-color: #9BA2AF;
    font-size: 12px;
    text-align: right;
}
