footer {
    position: absolute;
    height: auto;
    bottom: -100px;
    width: 100%;
    clear: both;
    background-color: #232323;
    font-size: 20px;
    text-align: center;
}

.copyrightText {
    color: white;
}