footer {
    position: absolute;
    height: 35px;
    bottom: 0;
    width: 100%;
    clear: both;
    background-color: dimgrey;
    font-size: 20px;
    text-align: right;
}

footer nav{
    height: 4vh;
    color: white;
}