
.courses{
    font-family: "Roboto", sans-serif;
}

.courses h1.title{
    font-size : 100px;
    font-family: Impact, Charcoal, sans-serif;
    color: #761c16;
    font-weight: bold;

    width: auto;
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px #fffef1 solid;
    text-align: center;
}
.courses p.introText{
    line-height: 160%;
    font-size : 27px;
    color: #fcfffc;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.courses ul{

    list-style-position: inside;
}

.courses li {
    line-height: 170%;
    font-size : 23px;
    color: #fcfffc;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;



}

.courses a.startLearning{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 250px;
}

.courses h3{
    font-size : 40px;
    text-decoration: underline;
    color: #fcfffc;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.lessons h2.titleSmall {
    font-weight: bold;
    text-decoration: underline ;
    font-size : 47px;
    padding-left: 80px;
    padding-right: 40px;
    width: auto;
    color: #fcfffc;

}

.lessons p{
    line-height: 130%;
    font-size : 23px;
    color: #fcfffc;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
}

.lessons div.italic{
    font-style: italic;
    display: inline-block;
    color: #848969;
}

.lessons span{

    white-space: pre-line;
    font-weight: bold;
    background: rgba(44, 42, 44, 0.6);
    border: 1px solid #ffffff;
    color: #415bd4;
    text-shadow: 1px 1px 1px black;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    margin-left: 25%;
    max-width: 50%;
    left: 50%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;}


.lessons a.test{
    font-size: 30px;
}

.lessons a.previous{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 300px;
    font-size: 20px;
}

.lessons a.next{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 300px;
    font-size: 20px;
}

@media only screen and (max-width: 1200px) {
    .lessons p.codeBlock {
        max-width: 75%;
        margin-left: 12.5%;
    }
}

@media only screen and (max-width: 900px) {
    .lessons p.codeBlock {
        max-width: 100%;
        margin-left: 0;
    }
}