#stickRight{
    margin-left: auto;
    right: 0;
}

#fixedHeight{
    height: 65px;
}

.columnArea{
    width: 50%;
    min-height: calc(100vh - 65px);
    color: whitesmoke;
}

.lessonArea{
    width: 80%;
    margin: 0 20px;
}

.classArea{
    height: 40px;
}
.editorArea{
    height: calc(80% - 20px);
    margin: 0 0;
    white-space: pre-line;
    color: white;
    word-break: normal;
    border: 1px solid #7a777d;
    width: 100%;
}
.greenText{
    color: #64ff5a;
}
.blue-text{
    color: #1aeeff;
}
.inside-Editor{

    width: 50vw !important;
    height: calc(100vh - 310px) !important;
    border-left: 1px solid #7a777d;
    border-top: 1px solid #7a777d;
}

.ace_print-margin{
    visibility: hidden !important;
}

.ace_mobile-menu{
    visibility: hidden !important;
}

.outputArea{
    height: 200px;
    color: green;
    border-left: 1px solid #7a777d;
    border-top: 1px solid #7a777d;
    background-color: black;
    white-space: pre-wrap;
    overflow-y: auto;
}