#stickRight{
    margin-left: auto;
    right: 0;
}

#fixedHeight{
    height: 65px;
}

.columnArea{
    width: 50%;
    min-height: calc(100vh - 65px);
    color: whitesmoke;
}

.lessonArea{
    width: 80%;
    margin: 0 20px;
}

.classArea{
    height: 40px;
}
.editorArea{
    height: calc(80% - 20px);
    margin: 0 0;
    white-space: pre-line;
    color: white;
    word-break: normal;
    border: 1px solid #7a777d;
    width: 100%;
}
.greenText{
    color: #64ff5a;
}
.blue-text{
    color: #1aeeff;
}
.divEditorArea{
    position: absolute;
    top: 105px;
    width: 48.5%;
    padding: .375rem .75rem;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    height: calc(80% - 72px);

    pointer-events: none;
    z-index: 1;
    color: white;
    white-space: pre-wrap;
    word-spacing: 100%;
    overflow-y: scroll;
}

.outputArea{
    height: calc(20% - 20px);
    color: green;
    border-left: 1px solid #7a777d;
    background-color: black;
    white-space: pre-wrap;
    overflow-y: auto;
}