#stickRight{
    margin-left: auto;
    right: 0;
}

#fixedHeight{
    height: 65px;
}

.columnArea{
    width: 50%;
    min-height: calc(100vh - 65px);
    color: whitesmoke;
}

.lessonArea{
    width: 80%;
    margin: 0 20px;
}

.classArea{
    height: 40px;
}
.editorArea{
    height: calc(80% - 20px);
    white-space: pre-line;
    border: 1px solid #7a777d;
}
.divEditorArea{
    margin: 7px 13px;
    height: calc(80% - 20px);
    white-space: pre-line;
    position: absolute;
    top: 105px;
    pointer-events: none;

    z-index: 1;
    color: white;
    width: 40%;

}

.outputArea{
    height: calc(20% - 20px);
    color: green;
    border-left: 1px solid #7a777d;
    background-color: black;
}